body {
  background-color: #181824;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #222;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 0, 85, 0.2);
}

h1 {
  margin-bottom: 20px;
}

#display {
  font-size: 3rem;
   margin-bottom: 20px;
  font-weight: bold;
}

  .buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #ff0055;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: #e6004c;
}

#laps {
     margin-top: 20px;
    list-style: none;
    padding: 0;
}

#laps li {
  padding: 5px 0;
  border-bottom: 1px solid #444;
}
